.hero {
    background: url('../../assets/banner.jpg') no-repeat center center;
    background-size: cover;
    height: calc(100vh - 70px);
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    h1 {
        font-size: 6rem;
        color: #444;
        font-weight: bold;
        margin-bottom: 0;
    }
}

.filtros {
    min-width: 1200px;
    margin: 20px auto !important;
    display: flex;
    justify-content: space-between;

    .filtros-content {
        display: flex;
        gap: 20px;
    }
}

.content-especialty {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 20px auto;
    max-width: 1200px;
    width: 90%;
    padding: 0 20px;
}