.hero {
    background: url('../../assets/banner.jpg') no-repeat center center;
    background-size: cover;
    height: calc(100vh - 70px);
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    h1 {
        font-size: 6rem;
        color: #444;
        font-weight: bold;
        margin-bottom: 0;
    }
}